.end {
  text-align: center;
  margin-bottom: -60px;
  margin-top: 0px;
}

.card-container{
  width: 20rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 8px coral;
  display: inline-block;
  flex-direction: column;
  margin: 90px;
  background-color: rgb(235, 238, 240);
  
}

.card-img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;

}

.card-title, .card-description{
  margin: 0.5rem 5%;
  padding-top: 1px;
}

.card-btn{
  width: 60%;
  border-radius: 9px;
  padding: 0.1rem;
  margin: 0.3rem;
  margin-left: 60px;
}

.card-btn1{
  width: 60%;
  border-radius: 9px;
  padding: 0.1rem;
  margin: 0.3rem;
  margin-left: 60px; 
}


.card-description1{
  padding-bottom: 90px;
  margin: 0.5rem 5%;
  padding-top: 1px;
}
